@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-Poppins: "Poppins", sans-serif; 
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.5s, color 0.5s;
}

*{
  list-style: none

}
.container{
  width: 1350px;
  margin: 0 auto;
}

.linelist{
  position: relative;
  display: inline-block;
}

.linelist::after{
  content: " ";
  position: absolute;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #facc15, #ec4899); /* yellow-400 → pink-500 */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  bottom: -3px;
  left: 0;
  transition: all linear 0.3s;
}

.linelist:hover::after{
  width: 100%;
}
